<header class="top-header">
    <a
        routerLink="/dashboard"
        class="brand">
        <div class="logo">
            <img
                class="logo-img"
                src="/assets/img/logo.svg"
                width="57"
                height="57"
                alt="Pizza Orders">
        </div>
        <div class="name">
            <div class="main">Pizza</div>
            <div class="sub">Manager</div>
        </div>
    </a>
    <div class="right-nav">
        <div class="chat top-icon">
            <img src="/assets/img/chat.svg" alt="Chat">
        </div>
        <div class="notification top-icon">
            <img src="/assets/img/notification.svg" alt="Notification">
        </div>
        <div class="help top-icon">
            <img src="/assets/img/help.svg" alt="Help">
            <span class="help-text">
                Help
            </span>
        </div>
    </div>
</header>